run = "cd backend && npm install && npm start"
entrypoint = "backend/server.js"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.mjs,*.cjs}"

[languages.javascript.languageServer]
start = "node --inspect-brk=9229 -r typescript-node/register node_modules/.bin/eslint --stdin --stdin-filename=$FILENAME"

[deployment]
run = ["npm", "start"]
